@font-face {
  font-family: "PanemEtCircenses";
  src: url("./Panem\ et\ circenses.woff") format("woff");
}

html,
body {
  /* overflow-x: hidden; */
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(10deg, #bfb4be 43%, #ffff 43%);
}

h1 {
  font-family: "PanemEtCircenses", sans-serif;
  font-weight: normal;
  font-size: 11vw;
  text-align: center;
  line-height: 1;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #605a8c;
  /* text-shadow: -1px -1px 0 #548fcc, 1px -1px 0 #548fcc, -1px 1px 0 #548fcc,
    1px 1px 0 #548fcc, 1px 0px 0px #65f283, 0px 1px 0px #65f283,
    2px 1px 0px #65f283, 1px 2px 0px #65f283, 3px 2px 0px #65f283,
    2px 3px 0px #65f283, 4px 3px 0px #65f283, 3px 4px 0px #65f283,
    5px 4px 0px #65f283, 3px 5px 0px #548fcc, 6px 5px 0px #548fcc,
    -1px 2px 0 black, 0 3px 0 #548fcc, 1px 4px 0 #548fcc, 2px 5px 0px #548fcc,
    2px -1px 0 #548fcc, 3px 0 0 #548fcc, 4px 1px 0 #548fcc, 5px 2px 0px #548fcc,
    6px 3px 0 #548fcc, 7px 4px 0 #548fcc, 10px 10px 4px #dac249; */
}

a {
  text-decoration: none;
  font-size: 2em;
  color: #ffff;
  background-color: #605a8c;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

nav {
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

div {
  border: 2px solid #605a8c;
  border-radius: 10px;
  width: 600px;
  height: 300px;
  margin: 2vh;
  cursor: pointer;
}

img {
  height: 300px;
  width: 600px;
}
