html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "CoreCircus", sans-serif;
}

.heading {
  overflow: hidden;
  background: linear-gradient(10deg, #f4eba0 43%, #c0faca 43%);
  height: 100vh;
}

h1 {
  box-sizing: initial;
  font-family: "CoreCircus", sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  text-align: center;
  line-height: 1;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #f98ca4;
  text-shadow: -1px -1px 0 #6e1f58, 1px -1px 0 #6e1f58, -1px 1px 0 #6e1f58,
    1px 1px 0 #6e1f58, 1px 0px 0px #65f283, 0px 1px 0px #65f283,
    2px 1px 0px #65f283, 1px 2px 0px #65f283, 3px 2px 0px #65f283,
    2px 3px 0px #65f283, 4px 3px 0px #65f283, 3px 4px 0px #65f283,
    5px 4px 0px #65f283, 3px 5px 0px #6e1f58, 6px 5px 0px #6e1f58,
    -1px 2px 0 black, 0 3px 0 #6e1f58, 1px 4px 0 #6e1f58, 2px 5px 0px #6e1f58,
    2px -1px 0 #6e1f58, 3px 0 0 #6e1f58, 4px 1px 0 #6e1f58, 5px 2px 0px #6e1f58,
    6px 3px 0 #6e1f58, 7px 4px 0 #6e1f58, 10px 10px 4px #dac249;
}
h1:after,
h1:before {
  content: attr(data-heading);
  overflow: hidden;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 5;
}
h1:before {
  text-shadow: -1px -1px 0 #9e132c, 1px -1px 0 #9e132c, -1px 1px 0 #9e132c,
    1px 1px 0 #9e132c, 1px 0px 0px #f5b10b, 0px 1px 0px #f5b10b,
    2px 1px 0px #f5b10b, 1px 2px 0px #f5b10b, 3px 2px 0px #f5b10b,
    2px 3px 0px #f5b10b, 4px 3px 0px #f5b10b, 3px 4px 0px #f5b10b,
    5px 4px 0px #f5b10b, 3px 5px 0px #9e132c, 6px 5px 0px #9e132c,
    -1px 2px 0 black, 0 3px 0 #9e132c, 1px 4px 0 #9e132c, 2px 5px 0px #9e132c,
    2px -1px 0 #9e132c, 3px 0 0 #2f3e9c, 4px 1px 0 #9e132c, 5px 2px 0px #9e132c,
    6px 3px 0 #9e132c, 7px 4px 0 #9e132c, 10px 10px 4px rgba(106, 241, 119, 0.8);
  color: #65f283;
}
h1:after {
  color: #4ad9db;
  text-shadow: -1px -1px 0 #2f3e9c, 1px -1px 0 #2f3e9c, -1px 1px 0 #2f3e9c,
    1px 1px 0 #2f3e9c, 1px 0px 0px #f98ca4, 0px 1px 0px #f98ca4,
    2px 1px 0px #f98ca4, 1px 2px 0px #f98ca4, 3px 2px 0px #f98ca4,
    2px 3px 0px #f98ca4, 4px 3px 0px #f98ca4, 3px 4px 0px #f98ca4,
    5px 4px 0px #f98ca4, 3px 5px 0px #2f3e9c, 6px 5px 0px #2f3e9c,
    -1px 2px 0 black, 0 3px 0 #2f3e9c, 1px 4px 0 #2f3e9c, 2px 5px 0px #2f3e9c,
    2px -1px 0 #2f3e9c, 3px 0 0 #2f3e9c, 4px 1px 0 #2f3e9c, 5px 2px 0px #2f3e9c,
    6px 3px 0 #2f3e9c, 7px 4px 0 #2f3e9c;
}

.first {
  background-color: #f98ca4;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}

.second {
  background-color: #4ad9db;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

footer {
  background-color: #65f283;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  padding: 50px;
}

article {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 2px solid #4ad9db;
  border-radius: 40px 10px;
  margin: 30px 10px 30px 10px;
  transition: 1s ease;
  -webkit-box-shadow: 0px 0px 16px 3px rgba(122, 101, 101, 1);
  -moz-box-shadow: 0px 0px 16px 3px rgba(122, 101, 101, 1);
  box-shadow: 0px 0px 16px 3px rgba(122, 101, 101, 1);
}

article:nth-child(even):hover {
  cursor: pointer;
  transform: rotateZ(-10deg);
  box-shadow: 0px 0px 15px 13px rgba(122, 101, 101, 1);
}

article:nth-child(odd):hover {
  cursor: pointer;
  transform: rotateZ(10deg);
  box-shadow: 0px 0px 15px 13px rgba(122, 101, 101, 1);
}

img {
  width: 400px;
  height: auto;
  border-radius: 40px 10px 0px 0px;
}

div {
  padding: 5px;
  text-align: center;
  height: 100%;
  border-radius: 0px 0px 40px 10px;
  background: linear-gradient(10deg, #f4eba0 43%, #c0faca 43%);
}

h2 {
  font-size: 1.2rem;
  color: #2f3e9c;
}

h3 {
  font-family: cursive;
}

p {
  font-family: cursive;
}

@font-face {
  font-family: "CoreCircus2DDot1";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff2")
      format("woff2"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff")
      format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.ttf")
      format("truetype");
}
@font-face {
  font-family: "CoreCircus";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff2")
      format("woff2"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff")
      format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.ttf")
      format("truetype");
}
@font-face {
  font-family: "CoreCircusPierrot4";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.woff2")
      format("woff2"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.woff")
      format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_13_0.ttf")
      format("truetype");
}

.fa-chevron-down {
  position: absolute;
  bottom: 3%;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  font-size: 3rem;
  color: #2f3e9c;
  cursor: pointer;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.fa-github-square {
  font-size: 5rem;
}

.fa-linkedin {
  font-size: 5rem;
  color: #4ad9db;
}

.fa-facebook-square {
  font-size: 5rem;
  color: #2f3e9c;
}
.fa-envelope-square {
  font-size: 5rem;
  color: #f98ca4;
}
